<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x"
      crossorigin="anonymous"
    />

    <!-- Font  -->
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Sen:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <title>Node JS Blog Renderer</title>

    <style>
      body {
        font-family: "Sen", sans-serif;
      }

      h1,
      h2,
      h3 {
        font-weight: 700;
      }

      .card {
        border: none;
        background-color: #eee;
      }
    </style>
  </head>
  <body>
    <div class="container bg-light p-5">
      <div class="row text-center">
       <div class="col-12">
        <h1>Node JS, Markdown Blog Renderer</h1>
        <p class="p-3">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum, atque
          quia. Quasi laborum minima blanditiis corrupti inventore modi tenetur
          error eligendi molestias consequatur! Perspiciatis, cumque?
        </p>
        <a class="btn btn-lg btn-primary px-4" href="/blogs">Blogs</a>
       </div>
      </div>
    </div>

    <div class="container text-center py-3">
      <h1 class="py-3">Why use this ?</h1>
      <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-5">
        <div class="col">
          <div class="card text-center h-100">
            <div class="card-body">
              <h3 class="card-title">Fast by default ⚡️</h3>
              <p class="card-text">
                Some quick example text to build on the card title and make up
                the bulk of the card's content.
              </p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card text-center h-100">
            <div class="card-body">
              <h3 class="card-title">Fully Customisable</h3>
              <p class="card-text">
                Some quick example text to build on the card title and make up
                the bulk of the card's content.
              </p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card text-center h-100">
            <div class="card-body">
              <h3 class="card-title">SEO-ready 🔍</h3>
              <p class="card-text">
                With already considered OG , meta and Twitter Tags, there is enough flexibility for you to add your own Tags or edit the existing ones.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
